.delete-btn{
    width:140px;
	height: 40px;
    font-size: 1rem;
    background-color: #f8350ef8;
    box-shadow: 5px 10px 30px rgba(255, 255, 255, 0.336);
    border-radius: 5px;
	color:#000000;
    font-family:"Lato";
}
.add-btn{
    width:140px;
	height: 40px;
    font-size: 1rem;
    background-color: #07c750f8;
    box-shadow: 5px 10px 30px rgba(255, 255, 255, 0.336);
    border-radius: 5px;
	color:#000000;
    font-family:"Lato";
}